/* Empty. Add your own CSS if you like */
.menu-header{
	width: 100%; 
	min-height: 200px; 
	/*background-image: url('../img/bg.jpg');
	background-size: cover;*/
	background-color: lightgray;
}

.login-content{
	/*background-color: rgba(255,255,255,0.9);*/
}

.custom-bar{
	height: 250px;
	background-image: url(../img/baku.jpg);
	background-size: cover;
	color: white;
}

.custom-bar-button{
	color: #fff;
}

.title-image{
	margin: 12px 0 0 0;
    height: 30px;
    float: left;
}

.main-button {
	border-radius: 25px;
}

.destination {
	font-size: 25px;
}